body {
	color: aliceblue;
	background-color: lightseagreen;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
	margin: auto;
	width: 40em;
}